html, body {
  overscroll-behavior: none;
  /* Fallback for older browsers */
  -webkit-overflow-scrolling: touch; /* iOS Safari */
}

body {
  margin: 0;
}
.icon-bold svg path {
  stroke-width: 30 !important; /* Adjust stroke thickness */
}
.ant-card-body {
  padding: 12px 15px !important;
}

.ant-pagination-item-active {
  background-color: #0977c2 !important;
}

.ant-pagination-item-active a {
  color: #fff !important;
}

.map-styles {
  width: 100%;
  height: calc(100% - 18px);
  min-height: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
}



.SidebarContainer {
  background-color: #0977c2;
  color: white;
  padding-top: 20px;
  border-radius: 0;
}

.Logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
  text-align: center;
}

.NavList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.NavItem {
  padding: 12px;
  cursor: pointer;

  &:hover {
    background-color: #4c5c68;
  }
}

.ProfileCard {
  position: absolute;
  bottom: 80px;
  left: 16px;
  right: 16px;
  background-color: #fff;
  color: black;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ProfileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.LogoutButton {
  position: absolute;
  bottom: 16px;
  width: 100%;
  background-color: #ff4d4f;
  color: white;
  border: none;

  &:hover {
    background-color: #ff7875;
  }
}

/* .menu-title {
  color: white;
} */

/* Add this CSS */
.sticky-row {
  position: -webkit-sticky;
  /* For Safari */
  position: sticky;
  top: 0;
  z-index: 999;
  background: #f1f1f1;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.sticky-row:sticky {
  box-shadow: 0 4px 8px rgba(236, 0, 0, 0.9);
  /* Apply box shadow when sticky */
}

.ant-steps-horizontal {
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 32px;
  background-color: #f9f9f9;
  margin-bottom: 30px;
  border-radius: 16px 16px 0 0 ;
  border-bottom: 1px solid #e1e1e1;
  /* border-bottom: 1px solid #d3d3d3; */
  /* margin-bottom: 40px; */
}